#organic-poetry {
	width: 295px;
	height: 295px;
	border: 0;
	position: relative;
	overflow: auto;
	border: 1px solid #a08080;
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 9px;
	font-weight: bold;
}

#op-back {
	margin: 0px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	/* background: #ddffdd;
	width: 300px;
	height: 300px; */
}

#start-node {
	background: #d04040;
}

.word {
	border: 1px solid black;
	margin: 0;
	padding: 2px;
	z-index: 10;
	cursor: pointer;
	background: #ffffff;
}